*{
  margin: 0px;
}
.sidebar p{
  line-height: 3px;
}
#wiki{
  width: 160px;
  height: 160px;
}
#headerlist{
  float: right;
}
.navbar {
  float: left;
  width: 50px;
}
.panel-title{
  font-weight: bolder;
}
.pic-right{
  float: right;
  font-size: 12px;
}

#caesar{
  width: 50%;
  font-size: 10px;
}
